<?xml version="1.0"?>
<config>
    <modules>
        <Wan_Check>
            <version>0.1.0</version>
        </Wan_Check>
    </modules>
    <global>
        <models>
            <wan_check>
                <class>Wan_Check_Model</class>
                <resourceModel>wan_check_mysql4</resourceModel>
            </wan_check>
            <wan_check_mysql4>
                <class>Wan_Check_Model_Mysql4</class>
                <entities>
                    <district>
                        <table>wan_check_district</table>
                    </district>
                    <ward>
                        <table>wan_check_ward</table>
                    </ward>
                </entities>
            </wan_check_mysql4>
        </models>
        <blocks>
            <wan_check>
                <class>Wan_Check_Block</class>
            </wan_check>
        </blocks>
        <helpers>
            <wan_check>
                <class>Wan_Check_Helper</class>
            </wan_check>
        </helpers>
        <resources>
            <wan_check_setup>
                <setup>
                    <module>Wan_Check</module>
                    <class>Wan_Check_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wan_check_setup>
            <wan_check_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wan_check_write>
            <wan_check_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wan_check_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <wan_check>
                <use>standard</use>
                <args>
                    <module>Wan_Check</module>
                    <frontName>wancheck</frontName>
                </args>
            </wan_check>
        </routers>
    </frontend>
</config>

